
body {
    font-family: Arial, sans-serif;
    display: flex;
    
    
    height: 100vh;
    margin: 0;
    background: rgb(143,228,238);
    background: linear-gradient(90deg, rgba(143,228,238,1) 30%, rgba(27,188,210,1) 70%);
    background-image: url('static/giff.gif');
    background-size: cover;
}

.heading {
    font-size: 5rem;
    margin:60px 130px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    text-shadow: 
        0 0 5px rgb(255, 255, 255), 
        0 0 10px rgb(255, 255, 255), 
        0 0 20px #000000, 
        0 0 40px #ffffff, 
        0 0 80px #000000, 
        2px 2px 3px rgba(255, 255, 255, 0.3),
        4px 4px 6px rgba(255, 255, 255, 0.2);
    transform: perspective(500px) rotateX(15deg) rotateY(1deg);
    animation: flicker 1.5s infinite alternate;
}

.card {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    margin: 10px 10px;
    height: 210px;
    
}
.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    outline: none;
}

.search button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background-color: #0056b3;
}

/* Weather Details */
.weather {
    font-size: 18px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.city {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Details Section */
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col {
    text-align: center;
    flex: 1;
}

.col p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}
